<div class="main">
  <app-autocomplete [items]="countries" [searchField]="'name'"
                    (valueSelected)="countrySelected($event)"></app-autocomplete>

  <div class="placeholder-wrapper" *ngIf="!countryDays">
    <img src="https://cdn.clipart.email/c9b03acad47be6dce5b252f334af3ea2_great-earth-gif-animations-at-best-animations_300-300.gif">
  </div>
  <div *ngIf="countryDays">
    <p>Got data from the last {{countryDays?.length}} days</p>
    <canvas baseChart height="300"
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
    >
    </canvas>
  </div>
</div>
